 ;QUIVER library
QUIVER_LIBRARY_PATH=""

;HEXO folder path
HEXO_PATH=""

;sync articles with this tag
QUIVER_RELEASE_TAG="relHexo"

;your blog site url
BLOG_URI="http://"

;hexo local server
HEXO_SERVER="http://localhost:4000"


