<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.maplesnow.quiver2hexo</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>02B6D86A-914C-4265-B163-65F31752C0CF</key>
		<array/>
		<key>1E4B324F-A1FB-4ED7-A994-A8C8D5FA81EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02B6D86A-914C-4265-B163-65F31752C0CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21E0CDFE-11F9-4581-B2B2-EF7EC98046EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3601B19-A142-48BF-B4BD-8D4AD2554651</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0AB3DB14-6089-4D8F-9AE7-F00FCFFCE4A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>403F5E9D-7456-436B-BF7B-DC1DC180CDD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C925024-D122-46F8-B764-3A0D99595324</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40BF8415-C1DC-4EB1-8F44-777C82C6F26E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9300FE36-1D3F-49EB-94EC-415AB7880F56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65D36AD1-1F59-47F5-B0A3-3DDD5995F53F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C883B01A-AC3E-494B-9FD2-49516565224B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C925024-D122-46F8-B764-3A0D99595324</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>987BFA9A-A9E0-49DA-A030-22E956FC0D87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DF587AA-023C-4830-9535-4DFFE1B9C292</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9300FE36-1D3F-49EB-94EC-415AB7880F56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9300FE36-1D3F-49EB-94EC-415AB7880F56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B25BD2F5-EB3F-4AF0-B217-592C35981B49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>987BFA9A-A9E0-49DA-A030-22E956FC0D87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11715164-7A83-493F-834F-5076BE56A726</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B25BD2F5-EB3F-4AF0-B217-592C35981B49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EB622CB-451A-4550-8860-BAC88CD0D564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BDC2870-0701-40A1-A8EB-17FA70FDDE93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1E4B324F-A1FB-4ED7-A994-A8C8D5FA81EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C883B01A-AC3E-494B-9FD2-49516565224B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21E0CDFE-11F9-4581-B2B2-EF7EC98046EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB8FED79-522C-4A75-9898-58AF4DDD799F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>681B0291-7759-46B0-B00A-48C9F87651BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9A5428C-529B-40E2-9646-EDEC816F0EA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C883B01A-AC3E-494B-9FD2-49516565224B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mapleSnow</string>
	<key>description</key>
	<string>quiver2hexo</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>quiver2hexo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>Staring up server...wait a moment...
Change Log:
{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>6EB622CB-451A-4550-8860-BAC88CD0D564</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qh server</string>
				<key>subtext</key>
				<string>Start the HEXO local server after synchronization finishes</string>
				<key>text</key>
				<string>server</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8DF587AA-023C-4830-9535-4DFFE1B9C292</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php sync.php -s</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9300FE36-1D3F-49EB-94EC-415AB7880F56</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sleep 3 &amp;&amp; open `awk -F "=" '/^HEXO_SERVER/{print $2}' .env | sed 's/\"//g'`</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BDC2870-0701-40A1-A8EB-17FA70FDDE93</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B25BD2F5-EB3F-4AF0-B217-592C35981B49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>40BF8415-C1DC-4EB1-8F44-777C82C6F26E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=$PATH:/usr/local/bin
#!/usr/local/bin/hexo
#!/usr/local/bin/node
cd $(awk -F "=" '/^HEXO_PATH/{print $2}' .env | sed 's/\"//g') &amp;&amp; hexo s</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>02B6D86A-914C-4265-B163-65F31752C0CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>kill `pgrep hexo`</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E4B324F-A1FB-4ED7-A994-A8C8D5FA81EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php sync.php -r</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>681B0291-7759-46B0-B00A-48C9F87651BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qh rollback</string>
				<key>subtext</key>
				<string>Rollback the last sync operation</string>
				<key>text</key>
				<string>rollback</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CB8FED79-522C-4A75-9898-58AF4DDD799F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>Deploying website...wait a moment...
If the site is not updated, it is likely that the cache. Please try refreshing the page.
Change Log:
{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>A3601B19-A142-48BF-B4BD-8D4AD2554651</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qh deploy</string>
				<key>subtext</key>
				<string>Deploy after synchronization finishes</string>
				<key>text</key>
				<string>deploy</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9A5428C-529B-40E2-9646-EDEC816F0EA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php sync.php -d</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C883B01A-AC3E-494B-9FD2-49516565224B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>21E0CDFE-11F9-4581-B2B2-EF7EC98046EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=$PATH:/usr/local/bin
#!/usr/local/bin/hexo
#!/usr/local/bin/node
cd $(awk -F "=" '/^HEXO_PATH/{print $2}' .env | sed 's/\"//g') &amp;&amp; hexo g -d ;
cd - &amp;&amp; sleep 3 &amp;&amp; open `awk -F "=" '/^BLOG_URI/{print $2}' .env | sed 's/\"//g'`</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0AB3DB14-6089-4D8F-9AE7-F00FCFFCE4A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>65D36AD1-1F59-47F5-B0A3-3DDD5995F53F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php sync.php -rd</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C925024-D122-46F8-B764-3A0D99595324</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qh rollback deploy</string>
				<key>subtext</key>
				<string>Rollback the last deploy operation</string>
				<key>text</key>
				<string>rollback deploy</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>403F5E9D-7456-436B-BF7B-DC1DC180CDD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=$PATH:/usr/local/bin
#!/usr/local/bin/hexo
#!/usr/local/bin/node
cd $(awk -F "=" '/^HEXO_PATH/{print $2}' .env | sed 's/\"//g') &amp;&amp; hexo g -d;
cd - &amp;&amp; sleep 3 &amp;&amp; open `awk -F "=" '/^BLOG_URI/{print $2}' .env | sed 's/\"//g'`</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>11715164-7A83-493F-834F-5076BE56A726</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>T</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>987BFA9A-A9E0-49DA-A030-22E956FC0D87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02B6D86A-914C-4265-B163-65F31752C0CF</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>0AB3DB14-6089-4D8F-9AE7-F00FCFFCE4A4</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>11715164-7A83-493F-834F-5076BE56A726</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>1BDC2870-0701-40A1-A8EB-17FA70FDDE93</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>1E4B324F-A1FB-4ED7-A994-A8C8D5FA81EB</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>21E0CDFE-11F9-4581-B2B2-EF7EC98046EF</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>403F5E9D-7456-436B-BF7B-DC1DC180CDD8</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>40BF8415-C1DC-4EB1-8F44-777C82C6F26E</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>65D36AD1-1F59-47F5-B0A3-3DDD5995F53F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>681B0291-7759-46B0-B00A-48C9F87651BB</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>6EB622CB-451A-4550-8860-BAC88CD0D564</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>7C925024-D122-46F8-B764-3A0D99595324</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>8DF587AA-023C-4830-9535-4DFFE1B9C292</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>9300FE36-1D3F-49EB-94EC-415AB7880F56</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>987BFA9A-A9E0-49DA-A030-22E956FC0D87</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>A3601B19-A142-48BF-B4BD-8D4AD2554651</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>B25BD2F5-EB3F-4AF0-B217-592C35981B49</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>C883B01A-AC3E-494B-9FD2-49516565224B</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>CB8FED79-522C-4A75-9898-58AF4DDD799F</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>E9A5428C-529B-40E2-9646-EDEC816F0EA1</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://maplesnow.cn</string>
</dict>
</plist>
